<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Start your development with a Design System for Bootstrap 4.">
  <meta name="author" content="Creative Tim">

  <title>Hydra Dashboard Consent</title>

  <link href="../assets/img/brand/favicon.png" rel="icon" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <link href="../assets/vendor/nucleo/css/nucleo.css" rel="stylesheet">
  <link href="../assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link type="text/css" href="../assets/css/argon.css?v=1.0.1" rel="stylesheet">
  <link type="text/css" href="../assets/css/docs.min.css" rel="stylesheet">
</head>

<body>
  <header class="header-global">
  </header>
  <main>
    <section class="section section-shaped section-lg">
      <div class="shape shape-style-1 bg-gradient-secondary">
      </div>
      <div class="container pt-lg-md">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-white pb-5">
                <div class="text-muted text-center mb-3">
                  <large>Hi {{ user }}</large>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small>{{ client.client_id }} requests access to your data!</small>
                </div>
                <form role="form" action="/consent" method="post">
                  {{#each requested_scope}}
                  <div class="form-group">
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input name="grant_scope" value={{this}} class="custom-control-input" id={{this}} type="checkbox">
                        <label class="custom-control-label" for={{this}}>
                          <span>{{this}}</span>
                        </label>
                      </div>
                    </div>
                  {{/each}}

                  <input type="hidden" name="challenge" value={{ challenge }}>

                  <div class="text-center">
                    <button type="submit" name="submit" value="Allow Access" class="btn btn-primary mt-4">Allow Access</button>
                    <button type="submit" name="submit" value="Deny Access" class="btn btn-danger mt-4">Deny Access</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="footer">
  </footer>
  <script src="../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../assets/vendor/popper/popper.min.js"></script>
  <script src="../assets/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="../assets/vendor/headroom/headroom.min.js"></script>
  <script src="../assets/js/argon.js?v=1.0.1"></script>
</body>

</html>
